@using GameStore.Contracts.Games

@model GameDTO

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Create New Game</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" asp-action="Edit" enctype="multipart/form-data">

                                <input asp-for="OwnerId" type="hidden" value="@Model.Id">
                                <div class="form-group mb-3">
                                    <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter name" value="@Model.Name"/>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="number" asp-for="Price" class="form-control form-control-lg" placeholder="Enter Price" value="@Model.Price"/>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div>
                                        <textarea asp-for="Description" id="tiny" class="form-control form-control-lg" placeholder="Enter Description">

                                    </textarea>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col text-end">
                                        <button class="btn btn-success btn-lg" type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>